{
"parserOptions": {
      "ecmaVersion": 10,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
  },
  "rules": {
     "semi": 0,
     "no-unused-vars": 1,
     "quotes": 0
  }
}
