<!DOCTYPE html>
<html lang="en">
<%- temps.head %>


<body id="page-top">
  <!-- Navigation -->
  <%- temps.navbar %>



  <!-- About Section -->
  <section class="page-section bg-white text-dark mb-0" id="form" style="min-height: 100%;">
    <div class="container">
      <h2 class="page-section-heading text-left text-uppercase text-dark">Ispunite formular</h2>
      </div>


      <form method="post" class="container">
          <select name="type" id="type">
              <option value="0">No Type</option>
              <option value="1">Report</option>
              <option value="2">Request</option>
          </select>
        <select name="urgency" id="urgency">
            <option value="0">Normal Urgency</option>
            <option value="1">Urgent</option>
        </select>

        <input type="text" name="subject" required minlength="5" class="inputter" placeholder="Subject"  id="title">
        <textarea name="body" required minlength="5" cols="30" rows="7" placeholder="Enter your message here"></textarea>

        <input type="text" name="anonimno" class="inputter" placeholder="Optional: What's your name?" id="anonimnost">

          <br>
        <button class="inputter" onclick="send()" id="sendButton">Send</button>
        <button id="invisiButton" formaction="form" style="display: none;"></button>
        <button class="inputter" onclick="redirect()" id="returnButton">Home</button>
        </form>
      </div>



    </div>
  </section>


  <!-- Copyright Section -->
  <!-- <footer class="copyright py-4 text-center text-white"> -->
  <!--     %- temps.footer %> -->
  <!-- </footer> -->
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Bootstrap core JavaScript -->
  <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">
  </script>
  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Custom scripts for this template -->
  <script src="js/base.js"></script>
  <script src="js/addition.js"></script>

</body>

</html>
